<nav>
    <ul>
      <li><a routerLink="/bar-chart" routerLinkActive="active">BarChart</a></li>
      <li><a routerLink="/doughnut-chart" routerLinkActive="active">Doughnut</a></li>
      <li><a routerLink="/pie-chart" routerLinkActive="active">Pie </a></li>
      <li><a routerLink="/line-chart" routerLinkActive="active">Line </a></li>
      <li><a routerLink="/bubble-chart" routerLinkActive="active">Bubble </a></li>
      <li><a routerLink="/polar-area-chart" routerLinkActive="active">Polar_Area </a></li>
      <li><a routerLink="/radar-chart" routerLinkActive="active">Radar </a></li>
    </ul>
  </nav>
  <div class="footer">
    <div id="button"></div>
  <div id="container">
  <div id="cont">
  <div class="footer_center">
       <h3>Created by <a href="https://github.com/myusufozcelik" target="_blank" alt="M.Yusuf Ozcelik">M. Yusuf Ozcelik</a></h3>
  </div>
  </div>
  </div>
  </div>